<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    
    <context:annotation-config /> 
    
	<!-- add new 20140508 避免IE执行AJAX时,返回JSON出现下载文件   
    <bean id="jsonConverter" 
            class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
   		<property name="supportedMediaTypes" value="application/json" />
	</bean>	-->
	
    <!--对web包中的所有类进行扫描 -->
	<context:component-scan base-package="com.bip.*"/>
	  
  	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
			<!-- 返回JSON模版 --> 
	    <property name="messageConverters">  
		<list>
		     <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
		</list> 
	    </property>  


		</bean>     
        
	<!-- 配置数据源数据 -->
	<context:property-placeholder location="classpath:db.properties" />
	
	<!-- Configuration dataSource -->
	 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driverClass}" />
		 <property name="url" value="${url}"/>
		 <property name="username" value="${username}"/>
		 <property name="password" value="${password}"/>
		 <!--
		 <property name="acquireIncrement" value="1"/>
		 <property name="minPoolSize" value="5"/>
		 <property name="maxPoolSize" value="50"/>
		 <property name="maxIdleTime" value="1800"/>
		 <property name="maxStatements" value="0"/>
		 <property name="idleConnectionTestPeriod" value="1800"/>
		 -->
	 </bean>
	
	<!--配置sessionFactory工厂-->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="annotatedClasses">
			<list>
				<value>com.bip.bean.Location</value>
				<value>com.bip.bean.ActionType</value>
				<value>com.bip.bean.RealActivity</value>
				<value>com.bip.bean.User</value>
				<value>com.bip.bean.Picture</value>
				<value>com.bip.bean.UserProfile</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.query.substitutions">${hibernate.query.substitutions}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>	
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>	
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>				
			</props>
		</property>
	</bean>
	

	<!--对模型视图名称的解析，-->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 配置 事物-->
	<bean id="transactionManager" 
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!--配置上传图片-->
	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- set the max upload size100MB -->  
        <property name="maxUploadSize">  
            <value>104857600</value>  
        </property>  
        <property name="maxInMemorySize">  
            <value>4096</value>  
        </property>  
    </bean> 

	<!-- 使用annotation定义事务 -->  
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
